@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  font-family:'Poppins',sans-serif;
  overflow: hidden;

  /* padding-bottom: 40px; */
}
.profile-pic {
  border-radius: 100px;
  margin-left: 10px;
  height: 40px;
}
nav {
  height: 47px;
  width: 100vw;
  display: flex;
  background-color: #202C33;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}
nav span{
  font-family: inherit;
  font-size:1.5rem;
  letter-spacing: 3px;
  color: #eee;
}
nav span:hover{
  cursor:pointer;
}

.name-input {
  font-family: inherit;
  border-radius: 10px;
  background-color: rgb(240, 240, 240, 0.6);
  border: none;
  outline: none;
  height: 34px;
  width: 400px;
}

.name-input:hover{
  transform: translateY(-2px);
  transition: transform 0.3s ease;
}
.name-input:focus + .name-suggestions {
  display: block;
}
.email-input {
  font-family: inherit;
  border-radius: 10px;
  background-color: rgb(240, 240, 240, 0.6);
  border: none;
  outline: none;
  height: 34px;
  width: 300px;
}
.email-input:focus + .email-suggestions {
  display: block;
}
.search-with-name {
  position: relative;
  display: flex;
  flex-direction: column;
}
.name-suggestions {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  border-radius: 10px;

  top: 18px;
  width: 300px;
  padding: 10px;
}

.name-suggestions:hover {
  display: block;
}

.email-suggestions:hover {
  display: block;
}

.email-suggestions {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  border-radius: 10px;
  top: 18px;
  width: 276px;
  padding: 10px;
}
button {
  font-family: inherit;
  cursor: pointer;
  transition: 0.4s;
  border: none;
}
.sign-out-btn {
  background-color: rgb(2, 2, 100);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-right: 10px;
}
.sign-out-btn:hover {
  background-color: red;
  transform: translateY(2px);
  transition: transform 0.3s ease;
}
.ui {
    display: flex;
    width: 100vw;
    flex-grow: 1;
    background-color: #202C33;
    border: 1px solid black;
}
#sidebar {
  font-family: inherit;
  background-color: #0B141A;
  flex-grow: 1;
  max-width: 35%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-x: hidden;
  overflow-y:auto;
  padding: 0;
  border: 1px solid black;
}
ul {
  list-style: none;
  padding: 0;
}

.chats {
  color: #eee;
  padding: 2px;
  font-size: 1.5rem;
  text-align: center;
  background-color: inherit;
}
.userfriend {
  font-family: inherit;
  font-size: 0.6rem;
  padding: 7px;
  background-color: #0B141A;
  color: #eee;
  display: flex;
  align-items: center;
}

.userfriend:hover {
  background-color: #2A3942;
  cursor: pointer;
}

.active-userfriend {
  background-color: #202C33;
}
#chat-container {
  background-color: #0B141A;
  color: #eee;
  max-width: 65%;
  height: 85vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5px;
  position: relative;
  overflow-y:auto;
  overflow-x: hidden;
}
/* Style the scrollbar track */
#chat-container::-webkit-scrollbar {
  width: 6px;
  /* Width of the scrollbar track */
}

/* Style the scrollbar thumb (draggable part) */
#chat-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  /* Color of the scrollbar thumb */
  border-radius: 4px;
  /* Rounded corners for the thumb */
}

/* Change thumb color on hover */
#chat-container::-webkit-scrollbar-thumb:hover {
  width: 8px;
  background-color: #999;
  /* Hover color */
}
.chat-content {
  flex-grow: 1;
  height: 40vh;
  padding-left: 30px;
  padding-right: 30px;
}
.bubble {
  width: 100%;
  display: flex;
  justify-items: center;
  margin-bottom: -15px;
}

.message-content {
  font-family: inherit;
  background-color: #005C4B;
  display: inline-block;
  max-width: 50%;
  border-radius: 10px;
  padding: 9px;
  font-size: 0.75rem;
  font-weight: normal;
  position: relative;
  white-space: normal;
}
.message-time {
  padding-left:3px;
  font-size: 0.45rem;
  font-family: inherit;
  color: #99BEB7;
  bottom: 0;
  right:0;
}
.messageInputForm {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom:10px;
  background-color: #202C33;
  width: 65%;
  position: fixed;
  bottom: 0;
}
.message-input {
  font-family: inherit;
  align-self: center;
  background-color: #2A3942;
  color: #eee;
  width: 80%;
  height: 35px;
  margin-top:4px;
  margin-bottom:4px;
  border-radius: 10px;
  border-style: none;
  outline: none;
}
.message-sender {
  height: 35px;
  width: 35px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}